<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>My Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'pages/css/style.css' %}" />
    <script src="{% static 'pages/js/jquery.js' %}"></script>
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>
    <script src="{% static 'pages/js/javascript.js' %}"></script>
    <script src="{% static 'pages/js/accordion.js' %}"></script>
    <script src="{% static 'pages/js/loader.js' %}"></script>
</head>
<body id="body">
    <div class="loader">Loading</div>
    <div class="loaded" style="display: none;">
    <div class="container-fluid top-section">
        </div>
        <div class="container" id="main">
            <div class="row">
                <div class="col-6 left-profile">
                </div>
                <div class="col-6 right-profile">
                    <div class="container-fluid">
                        <div class="cotainer-fluid text-center">
                            <h1>Ardanto Finkan Septa</h1>
                        </div>
                        <br>
                        <p><b>Birth Date</b></p>
                        <p>> Tangerang, 14 September 1999</p>
                        <br>
                        <p><b>Education</b></p>
                        <p>> Computer Science, University of Indonesia</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container text-center">
            <button id="change-css" class="btn btn-primary" onclick="changeTheme()">Click to change theme</button>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="accordion">
                <h3>Aktivitas/Pengalaman</h3>
                <div>
                    <ul>
                        <li>Ngoding PPW</li>
                        <li>Ngoding SDA</li>
                        <li>Ngoding POK</li>
                    </ul>
                </div>
                <h3>Organisasi/Kepanitiaan</h3>
                <div>
                    <ul>
                        <li>Staff AI Autonomous Marine Vehicle Universitas Indonesia 2017-2018</li>
                        <li>Staff IT Force FUKI Fasilkom UI 2017-2018</li>
                        <li>Wakil PJ Try Out Kota Tangerang FEC UI 2018-2019</li>
                    </ul>
                </div>
                <h3>Prestasi</h3>
                <div>
                    <ul>
                        <li>Juara 1</li>
                        <li>Juara 2</li>
                        <li>Juara 3</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</body>
</html>