.top-section {
    min-height: 500px;
    background-image: url("../img/banner.d7637a2ad54e.jpg");
    background-size: 100% 100%;
}

.left-profile {
    background-image: url("../img/myself.8fc1206ba215.JPG");
    background-size: 100% 100%;
}

#main {
    margin-top: -175px;
    background-color: white;
    color: black;
    transition: 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px;
}

#body {
    transition: 1s;
}

.right-profile .container-fluid {
    padding: 40px;
}

#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#loaded {
    display: none;
}